.login-page{
	width: 100%;
	height: 100vh;
	background-image: url(../../assets/bentley.jpg);
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}
.login-card h1{
	color: #fff;
	font-family: sans-serif;
}
.login-card form{
	width: 500px;
	background: transparent;
	border: 2px solid rgba(255, 255, 255, .4);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	padding: 30px 40px;
	border-radius: 10px;
	backdrop-filter: blur(20px);
}
.login-card button{
	width: 100%;
	height: 45px;
	border: 2px solid rgba(255, 255, 255, .4);
	outline: none;
	border-radius: 45px;
	cursor: pointer;
	font-size: 16px;
	color: #fff;
	font-weight: 600;
	background: transparent;
}